:where(*) {
  box-sizing: border-box;
  font-family: unset;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

:where(html, body) {
  height: 100vh;
  line-height: 0;
}
/* :where(body > .entry-point) {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  max-height: 100vh;
  max-width: 100vw;
} */
:where(body > .entry-point > *:not(img)) {
  line-height: 1;
}

body {
  margin: 1em;
}

.entity {
  position: absolute;
  top: 0;
  left: 0;
}

.collapse {
  visibility: collapse !important;
}
.hide {
  visibility: hidden !important;
}
.remove {
  display: none !important;
}
